<div style="margin-top: -20px;">
  <div class="table-responsive" style="background: #ffffff; padding: 10px">
    <br>
    <h2 style="color:#565656">PROFILAZIONE UTENTE</h2><br>
    <div class="row">
      <button class="btn btn-success pull-right" style="margin-left:90%" (click)="saveAssignedPermissions()">Salva</button>
    </div>
    <div class="row role-permissions-lists col-md-12">
      <div class="col-md-4">
          <div><label class="lbl-filter-user">Utenti: <strong
                      class="selected-user-title">{{selectedData.name|uppercase}}</strong></label></div>
          <div class="txt-filter-user-div"><input type="text" class="form-control" placeholder="search"
                  [(ngModel)]="filters.searchUsersText" /></div>
          <perfect-scrollbar style="max-height: 546px;">
            
            <ul class="users-list">
              <h5 *ngIf="loading.roles" class="text-center text-primary loader">
                <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento..
              </h5>
              <li *ngFor="let user of gatheredData.usersList; index as i"
                  (click)="selectRoleItem(user, $event)">{{user.userid}} - {{user.name}} {{user.surname}} [{{user.ca_bsi_account}}]</li>
            </ul>
    
          </perfect-scrollbar>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
          <br><label>Permissions:</label>
        <br><br>
        <h5 *ngIf="!isTreeLoaded" class="text-center text-primary loader">
          <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento..
        </h5>
        <ejs-treeview *ngIf="isTreeLoaded" #permissionsTree 
          [fields]="treeFields" 
          [checkedNodes]="selectedData.checked" 
          [showCheckBox]="true" (nodeChecked)=syncSelectedNodesArray($event)></ejs-treeview>
      </div>
    </div>
  </div>
</div>
      

