<div style="margin-top: -20px;">
    <div class="table-responsive" style="background: #ffffff; padding: 10px">
      <br>
      <h2 style="color:#565656">PROFILAZIONE UTENTE</h2><br>
          <div class="row role-permissions-lists col-md-12">
              <div class="col-md-6">
                  <div><label class="lbl-filter-user">Utenti: <strong
                              class="selected-user-title">{{selectedData.name|uppercase}}</strong></label></div>
                  <div class="txt-filter-user-div"><input type="text" class="form-control" placeholder="search"
                          [(ngModel)]="filters.searchUsersText" /></div>
                  <perfect-scrollbar style="max-height: 546px;">
                    
                    <ul class="users-list">
                      <h5 *ngIf="loading.users" class="text-center text-primary loader">
                        <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento..
                      </h5>
                      <li *ngFor="let user of gatheredData.usersList | filter : filters.searchUsersText; index as i"
                          (click)="selectUserItem(user, $event)">{{user.userid}} - {{user.name}} {{user.surname}} [{{user.ca_bsi_account}}]</li>
                    </ul>
            
                  </perfect-scrollbar>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                  <br><label>Permissions:</label>
                <!-- <button class="btn btn-danger btn-sm" [swal]="{title: 'Confirmation', text: 'Do you want to delete?', showCancelButton: true}"
                  (confirm)="onConfirm($event)"
                  (cancel)="onCancel($event)">Delete Confirmation Sample</button> -->
                <br><br>
                  <ejs-treeview id="myTree" [fields]="treeFields" [showCheckBox]="true" ></ejs-treeview >
              </div>
            </div>
      </div>
  </div>
        
  
  