<div style="margin-top: -20px;">
  <div class="table-responsive" style="background: #ffffff; padding: 10px">
    <br>
    <h2 style="color:#565656">PROFILAZIONE UTENTE</h2><br>
    <!-- <div class="row">
      <button class="btn btn-success pull-right" style="margin-left:90%" (click)="saveAssignedPermissions()">Salva</button>
    </div> -->
    <div class="row role-permissions-lists col-md-12">
      <div class="col-md-4">
          <div><label class="lbl-filter-user">Utenti: <strong
                      class="selected-user-title">{{selectedData.name|uppercase}}</strong></label></div>
          <div class="txt-filter-user-div"><input type="text" class="form-control" placeholder="Cerca"
                  [(ngModel)]="filters.searchUsersText" /></div>
          <perfect-scrollbar style="max-height: 546px;">
            
            <ul class="users-list">
              <h5 *ngIf="loading.roles" class="text-center text-primary loader">
                <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento..
              </h5>
              <li *ngFor="let user of gatheredData.usersList | filter : filters.searchUsersText; index as i"
                  (click)="selectRoleItem(user, $event)">{{user.userid}} - {{user.name}} {{user.surname}} [{{user.ca_bsi_account}}]</li>
            </ul>
    
          </perfect-scrollbar>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div><label class="lbl-filter-user">Permessi: <strong
                    class="selected-user-title">{{permissionsData.name|uppercase}}</strong></label></div>
        <div class="txt-filter-user-div"><input type="text" class="form-control" placeholder="Cerca"
                [(ngModel)]="filters.searchPermissionsText" /></div>
        <perfect-scrollbar style="max-height: 546px;">
          
          <ul class="users-list">
            <h5 *ngIf="loading.roles" class="text-center text-primary loader">
              <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento..
            </h5>
            <li *ngFor="let perm of permissionsData | filter : filters.searchPermissionsText; index as i"
              >{{perm.name}}<button class="btn btn-danger pull-right ml-1" style="margin-top:-7px"  (click)="unAssignedPermissions(perm)">Unassign</button><button class="btn btn-success pull-right" style="margin-top:-7px"  (click)="assignedPermissions(perm)">Assign</button></li>
          </ul>
  
        </perfect-scrollbar>
      </div>
      <!-- <div class="col-md-7">
          <br><label>Permessi:</label>
          <div class="txt-filter-user-div"><input type="text" class="form-control" placeholder="Cerca"
            [(ngModel)]="filters.searchPermissionsText" /></div>
        <br><br>
        <h5 *ngIf="!isTreeLoaded" class="text-center text-primary loader">
            <span class="fa fa-spinner text-primary fa-spin fa-3x"></span><br /> Caricamento..
        </h5>
        <div *ngFor="let treeObj of treesArray | filter : filters.searchPermissionsText; let i = index" >
            <span [hidden]="treeObj.loaded" class="fa fa-spinner text-primary" style="padding-left: 35px; height: 35px;">loading..</span>
          <ejs-treeview [hidden]="!treeObj.loaded"
            #permissionsTree 
            id="{{treeObj.elementId}}" 
            [fields]='treeObj.settings' 
            [showCheckBox]='true' 
            [checkedNodes]="treeObj.checkedNodes" 
            (nodeChecked)='syncSelectedNodesArray($event, treeObj)' >
          </ejs-treeview>
        </div>

      </div> -->
    </div>

  </div>
</div>