// Here you can add other styles
.class-version-nav {
  margin-top: auto;
}
.dt-buttons {
  display: inline-block !important;
}
.btn-primary {
  color: #fff !important;
  background: #20a8d8 !important;
  border-color: #20a8d8 !important;
}
.fixed.three-column {
  padding: 10px !important;
}

.admin-form-rules {
  .mat-form-field-wrapper {
    padding: 0 !important;
  }
  .row {
    padding: 20px 0 !important;
  }
}
.modal-xl{
  max-width:100% !important;
}
