<div style="margin-top: -25px; padding: 10px">
  <h2 style="color:#565656">Catalogo</h2><br>
  <div class="table-responsive" style="background: #ffffff; padding: 10px">
    <br><h2 style="color:#565656">KPI</h2><br>
    <div class="row">
      <input type="text" class="form-control ml-3 mr-1" style="width:15%;" placeholder="ID KPI" #searchCol1/>
      <input type="text" class="form-control ml-1 mr-1" style="width:15%;" placeholder="Titolo Breve" #searchCol2/>
      <input type="text" class="form-control ml-1 mr-1" style="width:15%;" placeholder="Referenti" #searchCol3/>
      <span>&nbsp;&nbsp;</span>
      <select class="form-control" style="width:15%;" #searchCol4><option value="">Tutti i Contratti</option></select>
      <span>&nbsp;&nbsp;</span>
      <select class="form-control" style="width:15%;" #searchCol5>
        <option value="">Tutte le Frequenze</option>
        <option value="MENSILE">MENSILE</option>
        <option value="TRIMESTRALE">TRIMESTRALE</option>
        <option value="QUADRIMESTRALE">QUADRIMESTRALE</option>
        <option value="SEMESTRALE">SEMESTRALE</option>
        <option value="ANNUALE">ANNUALE</option>
      </select>
      <span>&nbsp;&nbsp;</span>
      <button class="ml-5" #btnExportCSV>Esporta CSV</button>
    </div><br/>
    <table class="table table-bordered kpiTable" #kpiTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th style="text-align:center">CONTRATTO</th>
          <th style="text-align:center">ID KPI</th>
          <th style="text-align:center">TITOLO BREVE</th>
          <th style="text-align:center">CARICAMENTO</th>
          <th style="text-align:center">FREQUENZA</th>
          <th style="text-align:center">DATA WF</th>
          <th style="text-align:center">DATA WM</th>
          <th style="text-align:center">ABILITATO</th>
          <th style="text-align:center">REMINDER</th>
          <th style="text-align:center">WORKFLOW</th>
          <th style="text-align:center">REFERENTI</th>
          <th style="text-align:center">CALCOLO</th>
          <th style="text-align:center">AZIONI</th>
          <th>hide</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of kpiTableBodyData; index as i">
          <!--        <td align="center"><input type="checkbox"/></td>-->
          <td>{{row.contract}}</td>
          <td>{{row.id_kpi}}</td>
          <td>{{row.short_name}}</td>
          <td>{{row.source_type}}</td>
          <td>{{row.tracking_period}}</td>
          <td>{{row.wf_last_sent}}</td>
          <td>{{row.rm_last_sent}}</td>
          <td align="center" *ngIf="row.enable; then trueBlock else falseBlock"></td>
          <td align="center" *ngIf="row.enable_rm; then trueBlock else falseBlock"></td>
          <td align="center" *ngIf="row.enable_wf; then trueBlock else falseBlock"></td>
          <ng-template #trueBlock><td align="center">&#10004;</td> </ng-template>
          <ng-template #falseBlock><td align="center">&#10006;</td> </ng-template>
          <td align="center"><button class="btn" data-toggle="modal" data-target="#referentiModal" (click)=" refren(row.id)"><i class="fa fa-user" style="font-size:20px;"></i></button></td>
          <td align="center"><button class="btn" data-toggle="modal" data-target="#calcoloModal" (click)="coloBtn(row.kpi_description)"><i class="fa fa-edit" style="font-size:20px;"></i></button></td>
          <td align="center">
            <button class="btn btn-primary" data-toggle="modal" (click)="populateModalData(row)"
                    data-target="#kpiModal">
              Modifica
            </button>
          </td>
          <td>{{row.referent}},{{row.referent_1}},{{row.referent_2}},{{row.referent_3}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="referentiModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!--        <h5 class="modal-title" id="approveModalLabel">Giustificativo</h5>-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="classTable" class="table table-bordered">
          <thead style="background: #E6E6E6">
          <tr>
            <th>REFERENTI_INPUT</th>
            <th>REFERENTI_1</th>
            <th>REFERENTI_2</th>
            <th>REFERENTI_3</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>{{this.reft}}</td>
            <td>{{this.ref1}}</td>
            <td>{{this.ref2}}</td>
            <td>{{this.ref3}}</td>

          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" >
          Chiudi
        </button>
      </div>
    </div>
  </div>
</div>

<div id="calcoloModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="approveModalLabel">Descrizione Estesa</h5>
        <button type="button"   class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <textarea class="form-control">{{this.des}}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Chiudi
        </button>
      </div>
    </div>
  </div>
</div>

<div id="kpiModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
         <h5 class="modal-title" id="approveModalLabel">Modifica KPI</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive" style="background: #ffffff; padding: 10px">
        <table id="classTable" class="table table-bordered">
          <thead style="background: #E6E6E6">
          </thead>
          <tbody>

            <tr><th>CONTRATTO</th><td colspan="2"><input type="text" class="form-control"[(ngModel)]="modalData.contract"></td></tr>
            <tr><th>ID KPI</th><td colspan="2"><input type="text" class="form-control"[(ngModel)]="modalData.id_kpi"></td></tr>
            <tr><th>TITOLO BREVE</th><td colspan="2"><input type="text" class="form-control"[(ngModel)]="modalData.short_name"></td></tr>
            <tr><th>CARICAMENTO</th><td colspan="2"><input type="text" class="form-control"[(ngModel)]="modalData.source_type"></td></tr>
            <tr><th>FREQUENZA</th><td colspan="2"><input type="text" class="form-control"[(ngModel)]="modalData.tracking_period"></td></tr>
            <tr><th>DATA WF</th><td colspan="2"><input type="text" class="form-control"[(ngModel)]="modalData.wf_last_sent"></td></tr>
            <tr><th>DATA WM</th><td colspan="2"><input type="text" class="form-control"[(ngModel)]="modalData.rm_last_sent"></td></tr>
            <tr><th>ABILITATO</th><th>REMINDER</th><th>WORKFLOW</th></tr>
            <tr><td align="center"><input type="checkbox" [(ngModel)]="modalData.enable"/></td><td align="center"><input type="checkbox"  [(ngModel)]="modalData.enable_rm" /></td><td align="center"><input type="checkbox"  [(ngModel)]="modalData.enable_wf"/></td></tr>
            <!-- by Giacomo: I prefer to have the checkboxes on the same row -->
          </tbody>
        </table>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="updateKpi()" class="btn btn-success">Aggiorna</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>

