<div style="margin-top: -20px;">
  <div class="table-responsive" style="background: #ffffff; padding: 10px">
    <br>
    <h2 style="color:#565656">CONFIGURAZIONI</h2><br>
    <div class="row">
      <input type="text" class="form-control ml-3" style="width:10%;" placeholder="Chiave" #searchCol1 />
      <button style="margin-left:90%" class="btn btn-success" data-toggle="modal"
              data-target="#addConfigModal">
        Crea Nuovo
      </button>
    </div><br />
    <table class="table hover" #ConfigurationTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead style="background: #E6E6E6">
        <tr>
          <th style="text-align:center">Chiave</th>
          <th style="text-align:center">Owner</th>
          <th style="text-align:center">Valore</th>
          <th style="text-align:center">Abilitato</th>
          <th style="text-align:center">Descrizione</th>
          <th style="text-align:center">Azione</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of ConfigTableBodyData; index as i">
          <td>{{row.key}}</td>
          <td>{{row.owner}}</td>
          <td>{{row.value}}</td>
          <td align="center" *ngIf="row.isenable; then trueBlock else falseBlock"></td>
          <ng-template #trueBlock><td align="center">&#10004;</td> </ng-template>
          <ng-template #falseBlock><td align="center">&#10006;</td> </ng-template>
          <td>{{row.description}}</td>
          <td style="text-align: center">
            <button class="btn btn-primary" data-toggle="modal" (click)="populateModalData(row)"
                    data-target="#configModal">
              Modifica
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="configModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="approveModalLabel">Modifica la Configurazione</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="classTable" class="table table-bordered">
          <thead style="background: #E6E6E6">
            <tr>
              <th>Key</th>
              <th>Owner</th>
              <th>Value</th>
              <th>Abilitato</th>
              <th>Descrizione</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{modalData.key}}</td>
              <td>{{modalData.owner}}</td>
              <td><input type="text" class="form-control" [(ngModel)]="modalData.value"></td>
              <td><input type="checkbox" class="form-control" [(ngModel)]="modalData.isenable" style="font-size:6px"/></td>
              <td>{{modalData.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button (click)="updateConfig()" class="btn btn-success">Aggiorna</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>


<div id="addConfigModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
<!--        <h5 class="modal-title" id="approveModalLabel">Modifica la Configurazione</h5>-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label><b>Nome Chiave</b></label><input type="text" class="form-control" placeholder="Nome Chiave" /><br>
        <label><b>Nome Owner</b></label><input type="text" class="form-control" placeholder="Nome Owner" /><br>
        <label><b>Valore</b></label><input type="text" class="form-control" placeholder="Valore" /><br>
        <label><b>Abilitato</b></label><input style="text-align:left;width:3%" type="checkbox" class="form-control" /><br>
        <label><b>Descrizione</b></label><input type="text" class="form-control" placeholder="Descrizione" />
      </div>
      <div class="modal-footer">
        <button class="btn btn-success">Aggiungi</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
